<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "PHDMS_ver-1.5"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>PHDMS</name>

  <description>
      PHDMS Ver 1.5.
  </description>

  <author href="https://build.phonegap.com" email="siwapol2518@gmail.com">
      Hardeep Shoker
  </author>

</widget>
