<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.RUTHAN POLRACH .app" version="1.2">

	<name>Public Health Data Management System</name>
	<description>Huaykrachao Kanchanaburi Thailand </description>
	<author href="https://www.huaykrachaohealthcenter.com/" email="polrachruthan@gmail.com"></author>

	<icon src="icon-128.png" width="128" height="128" />
	<icon src="icon-256.png" width="256" height="256" gap:role="default" />

	<preference name="permissions" value="none"/>
	<preference name="android-targetSdkVersion" value="23" />

	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<plugin name="cordova-plugin-media" source="npm" />

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>
	<plugin name="cordova-plugin-crosswalk-webview" source="npm" />

	<plugin name="cordova-plugin-wkwebview-engine" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-httpd" />

	<plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />

	<plugin name="cordova-plugin-inappbrowser" source="npm" />

	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>